<div class="row">
    <h2> <u>Educación</u></h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h3>Tecnicatura Superior en Desarrollo Web y Alicaciones Digitales|Instituto Superior Politécnico Córdoba</h3> <h6>(04/22 hasta la actualidad)</h6></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, reprehenderit. Adipisci distinctio deleniti, minus odit quaerat sapiente eius aliquam iste error quidem harum dolorum ducimus, officia ipsam pariatur excepturi obcaecati!</p>
                           
        </ul>
        <ul>
            <li><h3>Tecnicatura Superior en Desarrollo Web y Alicaciones Digitales|Instituto Superior Politécnico Córdoba</h3><h6>(04/22 hasta la actualidad)</h6></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, reprehenderit. Adipisci distinctio deleniti, minus odit quaerat sapiente eius aliquam iste error quidem harum dolorum ducimus, officia ipsam pariatur excepturi obcaecati!</p>
        
        
        </ul>

    </div>

   </div>

