<div class="row">
<div class ="container">
    <div class="logo">
        <img src="../../../assets/APLogo.png" id="logoAP">
        </div>


        <div class="redes">
            <a href="https://www.linkedin.com/in/veronica-vargas-1993051b9?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Bfx4HFyxwR3Gr9ELnyxsnNw%3D%3D" target="_blank" > <img src="../../../assets/linkedin.png" id="linkedin"></a>
            <a href="https://twitter.com/Vero_Vargas55" target="_blank" > <img src="../../../assets/twitter.png" id="twitter"></a>
            <a href="https://www.instagram.com/veronica.rose55/" target="_blank" >  <img src="../../../assets/instagram.png" id="instagram"></a>
            <a href="https://github.com/Vargas-Veronica" target="_blank" > <img src="../../../assets/github.png" id="github"></a>
            <a href="https://www.facebook.com/veronicacecilia.vargas" target="_blank"> <img src="../../../assets/facebook.png" id="facebook"></a>
        <button type="button" class="btn btn-outline-light"> INGRESAR </button>
        </div>
    </div>
</div>
