.row{
    background: rgb(181, 5, 181);;
}

footer{
    color: rgb(247, 249, 252);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#contacto{
    color: aliceblue;
}
