<div class="row"> 
    <div class="col-lg-12"> 
<h2> <u>Hard and Soft Skills</u> </h2>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'purple'"
            [innerStrokeColor]="'purple'"
            [animation]="true"
            [animationDuration]="600"
            >
        </circle-progress>
    </div>

        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="75"
                [radius]="100"
                [imageSrc]="'../assets/CSS.png'"
                [showImage]="true"
                [imageHeight]="100"
                [imageWidth]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'purple'"
                [innerStrokeColor]="'purple'"
                [animation]="true"
                [animationDuration]="600"
                >
            </circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="65"
                [radius]="100"
                [imageSrc]="'../assets/js.png'"
                [showImage]="true"
                [imageHeight]="100"
                [imageWidth]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'purple'"
                [innerStrokeColor]="'purple'"
                [animation]="true"
                [animationDuration]="600"
                >
            </circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="75"
                [radius]="100"
                [imageSrc]="'../assets/git.png'"
                [showImage]="true"
                [imageHeight]="100"
                [imageWidth]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'purple'"
                [innerStrokeColor]="'purple'"
                [animation]="true"
                [animationDuration]="600"
                >
            </circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="90"
                [radius]="100"
                [imageSrc]="'../assets/eng.png'"
                [showImage]="true"
                [imageHeight]="100"
                [imageWidth]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'purple'"
                [innerStrokeColor]="'purple'"
                [animation]="true"
                [animationDuration]="600"
                >
            </circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="90"
                [radius]="100"
                [imageSrc]="'../assets/grupal.png'"
                [showImage]="true"
                [imageHeight]="100"
                [imageWidth]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'purple'"
                [innerStrokeColor]="'purple'"
                [animation]="true"
                [animationDuration]="600"
                >
            </circle-progress>
        </div>
</div>


    
    