<div class="row">
    <h2> <u> Proyectos realizados</u></h2>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Encriptador</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati expedita cupiditate quasi, quidem natus impedit possimus dolores enim accusamus temporibus. Asperiores consectetur aperiam accusamus earum tempore consequatur incidunt, aspernatur vitae.</p>


        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
          <img src="../../../assets/encriptador.png" class="img-fluid img-proyecto">  
        </div>
    </div>
</div>