<div class="row">
    <h2> <u> Proyectos realizados</u></h2>
    <br>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
    <br>
    <br>

            <h3>Encriptador</h3>
            <br>
             <p>Aplicación que encripta textos. Se llevo a cabo a partir de un modelo presentado en figma, se debia utilizar solo HTML, CSS y JAVASCRIPT.</p>


        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
          <img src="../../../assets/encriptador.png" class="img-fluid img-proyecto">  
        </div>
    </div>
</div>