<div class="row">
    <h2> <u>Educación</u></h2>
     <br>
    <br>
    <br>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h3>Tecnicatura Superior en Desarrollo Web y Aplicaciones Digitales|Instituto Superior Politécnico Córdoba</h3> <h6>(04/22 hasta la actualidad)</h6></li>
                                    
        </ul>
        <br>
        <ul>
            <li><h3>Diseño UX/UI| Codo a Codo</h3><h6>(04/22 hasta la actualidad)</h6></li>      
        
        </ul>
        <br>
        <ul>
            <li><h3>Inglés nivel Pre-intermediate(segundo año)| Instituto Superior del Profesorado en Lenguas Vivas "Juan Ramón Fernández"</h3><h6>(04/22 hasta la actualidad)</h6></li>
                   
        
        </ul>
        <br>

        <ul>
            <li><h3>Programming essentials in Python| Academia INET-CISCO</h3><h6>(05/22 hasta la actualidad)</h6></li>
                  
        
        </ul>
        <br>
        <ul>
        <li><h3>Curso de Inglés para Desarrolladores de Software| Argentina Programa</h3><h6>(04/22 hasta la actualidad)</h6></li>
        </ul>
        <br>
        <ul>
            <li><h3>Programador Full Stack| Argentina Programa</h3><h6>(02/22 hasta la actualidad)</h6></li>        
        
        </ul>
        <br>
        <ul>
            <li><h3>Programador Full Stack| ORACLE Next Education</h3><h6>(04/22 hasta la actualidad)</h6></li>       
        
        </ul>
        <br>
        <ul>
            <li><h3>Habilidades blandas| ACCENTURE & Codo a codo</h3></li>        
        
        </ul>
        <br>


    </div>

   </div>

