<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >
        <img src="../../../assets/fotoperfil.jpg"
        class="img-fluid" id="fotodeperfil">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >
        <h2 id="nombre">Vargas Veronica Cecilia</h2>
        <h3>Full Stack Developer Jr</h3>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" >
        <span>
            
            <h4> Estudiante de Desarrollo Web y Aplicaciones Digitales con buen nivel de inglés en capacitación continua con habilidades interpersonales que me permiten fácilmente la adaptación a grupos de trabajo.
               <br> Siempre orientada al logro de resultados y a la evolución constante en las tareas asignadas</h4>

        </span>
    </div>
    

</div>
