.row{
    padding: 20px;
}

div{
    background-color: rgb(239, 220, 232);;
    text-align: center;
}

@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        box-shadow: 3px 3px 3px 3px grey;
        left: 3%;
        top: 400px;
    }

    }

    @media (max-width: 575px){
        #fotodeperfil{
            position: absolute;
            width: 30%;
            box-shadow: 3px 3px 3px 3px grey;
            left: 33%;
            top: 950px;
        }
    
        }


#nombre{
    font-weight: bold;
    margin-top: 0%;
    
}
